# 忽略所有文件和目录
agent/
data/
log/
main/.env
main/__pycache__
main/nohup.out
main/script.deb.sh
session/
test_feature/
test_grpc/
test_server/

# 不忽略 .gitignore 文件本身
!.gitignore

# 不忽略 test_grpc/llm.proto 文件
!test_grpc/llm.proto

# 忽略 test_grpc 目录下的其他所有文件和目录
/test_grpc/*
!/test_grpc/llm.proto

